<div class="container">

  <h1>Calcula a média de uma disciplina</h1>

  <form>
    <div class="card">

      <div>
        <label for="b1">Bim 1</label>
        <input id="b1" type="number" #b1>
      </div>

      <div>
        <label for="b2">Bim 2</label>
        <input id="b2" type="number" #b2>
      </div>

      <div>
        <label for="b3">Bim 3</label>
        <input id="b3" type="number" #b3>
      </div>

      <div>
        <label for="b4">Bim 4</label>
        <input id="b4" type="number" #b4>
      </div>

      <div class="botao">
        <input
          type="button"
          value="Calcular"
          (click)="calcularMediaParcial(
            +b1.value,
            +b2.value,
            +b3.value,
            +b4.value
          )">
      </div>

    </div>
  </form>

  @if (mediaParcial !== undefined) {

    <div class="resultado">

      <p>
        Média parcial:
        {{ mediaParcial.toFixed(1) }}
      </p>

    </div>

  }

  @if (mediaParcial !== undefined && mediaParcial < 60) {

    <form>

      <div class="card">

        <div>
          <label for="Fn">
            Nota da Avaliação Final
          </label>

          <input
            id="Fn"
            type="number"
            #Fn>
        </div>

        <div class="botao">

          <input
            type="button"
            value="Calcular Final"
            (click)="calcularMediaFinal(+Fn.value)">

        </div>

      </div>

    </form>

  }

  @if (mediaFinal !== undefined) {

    <div class="resultado">

      <p>
        Média final:
        {{ mediaFinal.toFixed(1) }}
      </p>

      <p
        [class.aprovado]="situacao === 'Aprovado'"
        [class.reprovado]="situacao === 'Reprovado'">

        Aluno(a): {{ situacao }}

      </p>

    </div>

  }

</div>